@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<!--
    Resto by GetTemplates.co
    URL: https://gettemplates.co
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restaurant Siglo XXI</title>
    <meta name="description" content="Resto">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- External CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="~/vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/brands.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:300,400,700">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/style.min.css">
    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
</head>
<body data-spy="scroll" data-target="#navbar" class="static-layout">
    <div id="side-nav" class="sidenav">
        <a href="javascript:void(0)" id="side-nav-close">&times;</a>
        <div class="sidenav-content">
        </div>
    </div>	<div id="side-search" class="sidenav">
        <a href="javascript:void(0)" id="side-search-close">&times;</a>
        <div class="sidenav-content">
            <form action="">
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="input-group-text red lighten-3" id="basic-text1">
                            <i class="fas fa-search text-grey" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>	<div id="canvas-overlay"></div>
    <div class="boxed-page">
      
        <div class="hero">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 hero-left">
                        <h1 class="display-4 mb-5">Mejores Platos Chilenos<br></h1>
                        <div class="mb-2">
                            <a class="btn btn-primary btn-shadow btn-lg" href="menu.html" role="button">Explorar Menu</a>
                        </div>
                        <ul class="hero-info list-unstyled d-flex text-center mb-0">
                            <li class="border-right">
                                <span class="lnr lnr-leaf"></span>
                                <h5>
                                    Buena Comida
                                </h5>
                            </li>
                            <li class="">
                                <span class="lnr lnr-bubble"></span>
                                <h5>
                                    Excelente Atención
                                </h5>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 hero-right">
                        <div class="owl-carousel owl-theme hero-carousel">
                            <div class="item">
                                <img class="img-fluid" src="~/img/Foto1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-fluid" src="~/img/foto 2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-fluid" src="~/img/foto 3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
        <!-- Welcome Section -->
        <section id="gtco-welcome" class="bg-white section-padding">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-sm-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2" style="background-image: url(~/img/hero-2.jpg); ">
                            
                            <img class="img-fluid img-cover" src="~/img/hero-2.jpg" />    
                               
                            
                        </div>

                        <div class="col-sm-7 py-5 pl-md-0 pl-4">
                            <div class="heading-section pl-lg-5 ml-md-5">
                                <span class="subheading">
                                    Sobre Nosotros
                                </span>
                                <h2>
                                    Bienvenidos al Siglo XXI
                                </h2>
                            </div>
                            <div class="pl-lg-5 ml-md-5">
                                <p>Llevamos más de 50 años sirviendo las comidas mas típicas de todo chile, contamos con una franquicia que está en todo chile. Seguimos sirviendo como siempre, con una muy buena atencìón a la mesa, de una forma bien hogareña.</p>
                                <h3 class="mt-5">Recetas Especiales</h3>
                                <div class="row">
                                    <div class="col-4">
                                        <a href="#" class="thumb-menu">
                                            <img class="img-fluid img-cover" src="~/img/Porotos.jpg" />
                                            <h6>Porotos Con Rienda</h6>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#" class="thumb-menu">
                                            <img class="img-fluid img-cover" src="~/img/Chorrillana.jpg" />
                                            <h6>Chorrillana</h6>
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#" class="thumb-menu">
                                            <img class="img-fluid img-cover" src="~/img/PastelDePapa.jpg" />
                                            <h6>Pastel De Papa</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Welcome Section -->
        <!-- Special Dishes Section -->
        <section id="gtco-special-dishes" class="bg-grey section-padding">
            <div class="container">
                <div class="section-content">
                    <div class="heading-section text-center">
                        <span class="subheading">
                            Especialidades
                        </span>
                        <h2>
                            Platos Especiales
                        </h2>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-5 col-md-6 align-self-center py-5">
                            <h2 class="special-number">01.</h2>
                            <div class="dishes-text">
                                <h3><span>Porotos Con Rienda</span><br></h3>
                                <p class="pt-3">Porotitos</p>
                                <h3 class="special-dishes-price">$5.000</h3>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                            <img src="~/img/Porotos.jpg" alt="" class="img-fluid shadow w-100">
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                            <img src="~/img/Chorrillana.jpg" alt="" class="img-fluid shadow w-100">
                        </div>
                        <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
                            <h2 class="special-number">02.</h2>
                            <div class="dishes-text">
                                <h3><span>Chorrillana</span><br></h3>
                                <p class="pt-3">Hermosa Chorrillana</p>
                                <h3 class="special-dishes-price">$12.000</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-5 col-md-6 align-self-center py-5">
                            <h2 class="special-number">03.</h2>
                            <div class="dishes-text">
                                <h3><span>Pastel De Papa</span><br></h3>
                                <p class="pt-3">Hermoso pastel de papas, para comer en casa</p>
                                <h3 class="special-dishes-price">$7.000</h3>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                            <img src="~/img/PastelDePapa.jpg" alt="" class="img-fluid shadow w-100">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Special Dishes Section -->
        <!-- Menu Section -->
        <section id="gtco-menu" class="section-padding">
            <div class="container">
                <div class="section-content">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <div class="heading-section text-center">
                                <span class="subheading">
                                    Especialidades
                                </span>
                                <h2>
                                    Nuestro Menu
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 menu-wrap">
                            <div class="heading-menu">
                                <h3 class="text-center mb-5">Principales</h3>
                            </div>
                            <div class="menus d-flex align-items-center">
                                <div class="menu-img rounded-circle">
                                    <img class="img-fluid" src="~/img/Chorrillana.jpg" alt="">
                                </div>
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Chorrillana</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$12.000</h4>
                                        </div>
                                    </div>
                                    <p>Papa fritas, Carne, Cebolla, Huevo</p>
                                </div>
                            </div>
                            <div class="menus d-flex align-items-center">
                                <div class="menu-img rounded-circle">
                                    <img class="img-fluid" src="~/img/Tocomple.jpg" alt="">
                                </div>
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Completo Italiano</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$2.500</h4>
                                        </div>
                                    </div>
                                    <p>Salchicha, Tomate, Palta, Mayonesa</p>
                                </div>
                            </div>
                            <div class="menus d-flex align-items-center">
                                <div class="menu-img rounded-circle">
                                    <img class="img-fluid" src="~/img/Hamburguesa.png" alt="">
                                </div>
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Hamburguesa Bestia</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$15.000</h4>
                                        </div>
                                    </div>
                                    <p>Pan, Hambuersa, Queso Chedar, Tocino, Tomate</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 menu-wrap">
                            <div class="heading-menu">
                                <h3 class="text-center mb-5">Postres</h3>
                            </div>
                            <div class="menus d-flex align-items-center">
                                <div class="menu-img rounded-circle">
                                    <img class="img-fluid" src="~/img/ArrozconLeche.jpg" alt="">
                                </div>
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Arroz Con Leche</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$3.200</h4>
                                        </div>
                                    </div>
                                    <p>Arroz, Leche</p>
                                </div>
                            </div>
                            <div class="menus d-flex align-items-center">
                                <div class="menu-img rounded-circle">
                                    <img class="img-fluid" src="~/img/Tresleches.jpg" alt="">
                                </div>
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Tres leches</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$4.100</h4>
                                        </div>
                                    </div>
                                    <p>Meat Ball, Mie</p>
                                </div>
                            </div>
                            <div class="menus d-flex align-items-center">
                                <div class="menu-img rounded-circle">
                                    <img class="img-fluid" src="~/img/Jalea.jpg" alt="">
                                </div>
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Jalea</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$3.100</h4>
                                        </div>
                                    </div>
                                    <p>Meat Ball, Mie</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 menu-wrap">
                            <div class="heading-menu">
                                <h3 class="text-center mb-5">Bebidas</h3>
                            </div>
                            <div class="menus d-flex align-items-center">
                                <div class="menu-img rounded-circle">
                                    <img class="img-fluid" src="~/img/cocacola.jpg" alt="">
                                </div>
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Coca Cola</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$1.200</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menus d-flex align-items-center">
                                <div class="menu-img rounded-circle">
                                    <img class="img-fluid" src="img/Sprite-Logo-2014.jpg" alt="">
                                </div>
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Baltiloca</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$500</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menus d-flex align-items-center">
                                <div class="menu-img rounded-circle">
                                    <img class="img-fluid" src="~/img/Inca_kola_2016.png" alt="">
                                </div>
                                <div class="text-wrap">
                                    <div class="row align-items-start">
                                        <div class="col-8">
                                            <h4>Coctel</h4>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="text-muted menu-price">$1.500</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <!-- End of menu Section -->
    <!-- Testimonial Section-->
    <section id="gtco-testimonial" class="overlay bg-fixed section-padding" style="background-image: url(~/img/testi-bg.jpg);">
        <div class="container">
            <div class="section-content">
                <div class="heading-section text-center">
                    <span class="subheading">
                        Testimony
                    </span>
                    <h2>
                        Reviews
                    </h2>
                </div>
                <div class="row">
                    <!-- Testimonial -->
                    <div class="testi-content testi-carousel owl-carousel">
                        <div class="testi-item">
                            <i class="testi-icon fa fa-3x fa-quote-left"></i>
                            <p class="testi-text">No me quiero ir Señor Stark.</p>
                            <p class="testi-author">Peter Parker</p>
                            <p class="testi-desc">Tu Buen Vecino <span>El Hombre Araña</span></p>
                        </div>
                        <div class="testi-item">
                            <i class="testi-icon fa fa-3x fa-quote-left"></i>
                            <p class="testi-text">Solo puedo decir que el hombre araña es Peter Parker. Era algo que no podia dejarme dentro.</p>
                            <p class="testi-author">MJ</p>
                            <p class="testi-desc">Señorita <span>Yo sé quien es el Hombre Araña</span></p>
                        </div>
                    </div>
                    <!-- End of Testimonial -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of Testimonial Section-->
    <!-- Team Section -->
    <section id="gtco-team" class="bg-white section-padding">
        <div class="container">
            <div class="section-content">
                <div class="heading-section text-center">
                    <h2>
                        Nuestro Equipo
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-card mb-5">
                            <img class="img-fluid" src="~/img/bmw.jpg" alt="">
                            <div class="team-desc">
                                <h4 class="mb-0">Nicolas Olivares</h4>
                                <p class="mb-1">TeamLeader & Software Developer </p>
                                <ul class="list-inline mb-0 team-social-links">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-card mb-5">
                            <img class="img-fluid" src="~/img/Pengu.jpg" alt="">
                            <div class="team-desc">
                                <h4 class="mb-0">Matias Chacana</h4>
                                <p class="mb-1">QA</p>
                                <ul class="list-inline mb-0 team-social-links">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-card mb-5">
                            <img class="img-fluid" src="~/img/Ricardo.jpg" alt="">
                            <div class="team-desc">
                                <h4 class="mb-0">Ricardo Benites</h4>
                                <p class="mb-1">FrontEnd Developer</p>
                                <ul class="list-inline mb-0 team-social-links">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Team Section -->
    <!-- Reservation Section -->
    <section id="gtco-reservation" class="bg-fixed bg-white section-padding overlay" style="background-image: url(~/img/reservation-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-content bg-white p-6 shadow">
                        <div class="heading-section text-center">
                            <span class="subheading">
                                Reservar
                            </span>
                            <h2>
                                Agenda Tu Reserva Ahora!
                            </h2>
                        </div>
                        <form method="post" name="contact-us" action="">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Correo">
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Numero de Celular">
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                        <!--<input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4" placeholder="Fecha" />-->
                                        <input type="date" class="form-control datetimepicker-input" name="fecha" id="fecha" />
                                        <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                            <div class="input-group-text">
                                                <span class="lnr lnr-calendar-full"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                        <input type="time" class="form-control datetimepicker-input" name="timeClock" id="timeClock" />
                                        <!--<input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3" placeholder="Hora" />-->
                                        <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                            <div class="input-group-text">
                                                <span class="lnr lnr-clock"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <select class="form-control" id="selectPerson">
                                        <option></option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" id="message" name="message" rows="6" placeholder="Deja tu comentario ..."></textarea>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">Reservar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Reservation Section -->
    <footer class="mastfoot pb-5 bg-white section-padding pb-0">
        <div class="inner container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-widget pr-lg-5 pr-0">
                        <img src="~/img/Logo2.png" class="img-fluid footer-logo mb-3" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et obcaecati quisquam id sit omnis explicabo voluptate aut placeat, soluta, nisi ea magni facere, itaque incidunt modi? Magni, et voluptatum dolorem.</p>
                        <nav class="nav nav-mastfoot justify-content-start">
                            <a class="nav-link" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="nav-link" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="nav-link" href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-widget px-lg-5 px-0">
                        <h4>Horario!</h4>
                        <ul class="list-unstyled open-hours">
                            <li class="d-flex justify-content-between"><span>Lunes</span><span>10:00 - 22:00</span></li>
                            <li class="d-flex justify-content-between"><span>Martes</span><span>10:00 - 22:00</span></li>
                            <li class="d-flex justify-content-between"><span>Miercoles</span><span>10:00 - 22:00</span></li>
                            <li class="d-flex justify-content-between"><span>Jueves</span><span>10:00 - 22:00</span></li>
                            <li class="d-flex justify-content-between"><span>Viernes</span><span>10:00 - 22:00</span></li>
                            <li class="d-flex justify-content-between"><span>Sabado</span><span>10:00 - 22:00</span></li>
                            <li class="d-flex justify-content-between"><span>Domingo</span><span>Cerrado porque si</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-widget pl-lg-5 pl-0">
                        <h4>Ingresa tu Correo</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <form id="newsletter">
                            <div class="form-group">
                                <input type="email" class="form-control" id="emailNewsletter" aria-describedby="emailNewsletter" placeholder="Ingresar Correo">
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Enviar</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-12 d-flex align-items-center">
                    <p class="mx-auto text-center mb-0">Copyright 2022 developed by nosotros <a href="https://github.com/matiaszntc" target="text_blank">GitHub</a></p>
                </div>
            </div>
        </div>
    </footer>	</div>
    </div>
    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="~/vendor/bootstrap/popper.min.js"></script>
    <script src="~/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="~/vendor/select2/select2.min.js "></script>
    <script src="~/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js"></script>
    <script src="~/vendor/stellar/jquery.stellar.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Main JS -->
    <script src="~/js/app.min.js "></script>
</body>
</html>
