
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/style.min.css">
<link rel="stylesheet" href="~/css/Login.css">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restaurant Siglo XXI</title>
    <meta name="description" content="Resto">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- External CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="~/vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/brands.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:300,400,700">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/style.min.css">
    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
</head>



<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Iniciar Sesion</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrate</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Usuario</label>
                    <input id="usuario" name="usuario" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Contraseña</label>
                    <input id="contrasena" name="contrasena" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span>Mantener sesion iniciada</label>
                </div>
                <div class="group">
                    <!--Poner onlick para ejecutar-->
                    <input type="submit" class="button" value="Conectarme" onclick="login()" />
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="#forgot">Olvidaste la contraseña</a>
                </div>
            </div>

            <div class="sign-up-htm">
                <div class="group">
                    <label for="pass" class="label">Correo</label>
                    <input id="email" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Contraseña</label>
                    <input id="pass" type="password" class="input" data-type="password" />
                </div>
                <div class="group">
                    <label for="user" class="label">Nombre</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="user" class="label">Apellido</label>
                    <input id="apellido" type="text" class="input">
                </div>
                <div class="group">
                    <label for="user" class="label">Direccion</label>
                    <input id="direccion" type="text" class="input">
                </div>
                <div class="group">
                    <label for="user" class="label">Run</label>
                    <input id="run" type="text" class="input">
                </div>
                <div class="group">
                    <!--Poner onlick para ejecutar-->
                    <input type="submit" class="button" value="Registrarme" onclick="register()" />
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">Ya eres miembro?</label>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- External JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="~/vendor/bootstrap/popper.min.js"></script>
<script src="~/vendor/bootstrap/bootstrap.min.js"></script>
<script src="~/vendor/select2/select2.min.js "></script>
<script src="~/vendor/owlcarousel/owl.carousel.min.js"></script>
<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js"></script>
<script src="~/vendor/stellar/jquery.stellar.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Main JS -->
<script src="~/js/app.min.js "></script>

<script>
    function login() {

        if (!document.getElementById("user").value) {
            alert("El campo del usuario no puede estar vacio")
            return;
        }
        if (!document.getElementById("pass").value) {
            alert("El campo de la contrasena no puede estar vacio")
            return;
        }
        const login = "http://localhost:8080/api/login";

        fetch(login, {
            method: "POST",
            headers: {
                Accept: "application/json, text/plain, */*",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                correo: document.getElementById("usuario").value,
                contrasena: document.getElementById("contrasena").value
            }),
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data);
                // code here //
                if (data.error) {
                    alert("Contrasena y/o Correo mal ingresados"); /*displays error message*/
                } else {
                    localStorage.setItem('token', data.token)
                    localStorage.setItem('nombre', data.nombre)
                    window.open(
                        "/"
                    ); 
                }
            })
            .catch((err) => {
                console.log(err);
            });


    }
</script>


<script>
    async function register() {
        if (!document.getElementById("email").value) {
            alert("El campo del email no puede estar vacio")
            return;
        }
        if (!document.getElementById("pass").value) {
            alert("El campo de la contrasena no puede estar vacio")
            return;
        }
        if (!document.getElementById("user").value) {
            alert("El campo del nombre no puede estar vacio")
            return;
        }
        if (!document.getElementById("apellido").value) {
            alert("El campo del apellido no puede estar vacio")
            return;
        }
        if (!document.getElementById("direccion").value) {
            alert("El campo de la direccion no puede estar vacio")
            return;
        }
        if (!document.getElementById("run").value) {
            alert("El campo de la Run no puede estar vacio")
            return;
        }

        const registro = "http://localhost:8080/api/registro";

        fetch(registro, {
            method: "POST",
            headers: {
                Accept: "application/json, text/plain, */*",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                idUsuario: 9,
                idTipoUsuario: "",
                correo: document.getElementById("email").value,
                contrasena: document.getElementById("pass").value,
                nombre: document.getElementById("user").value,
                apellido: document.getElementById("apellido").value,
                direccion: document.getElementById("direccion").value,
                run: document.getElementById("run").value
            }),
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data.body);
                // code here //
                if (data.error) {
                    alert("Contrasena y/o Correo mal ingresados"); /*displays error message*/
                } else {
                    window.open(
                        "/"
                    );
                }
            })
            .catch((err) => {
                console.log(err);
            });
    }
    //        const res = await fetch("http://localhost:8080/api/registro", {
    //            method: "POST",
    //            headers: {
    //                accept: "application/json",
    //                "content-type": "application/json",
    //            },
    //            body: JSON.stringify({
    //                idUsuario: 6,
    //                idTipoUsuario: "",
    //                correo: document.getElementById("email").value,
    //                contrasena: document.getElementById("pass").value,
    //                nombre: document.getElementById("user").value,
    //                apellido: document.getElementById("apellido").value,
    //                direccion: document.getElementById("direccion").value,
    //                run: document.getElementById("run").value
    //            })
    //        })
    //        const data = await res.json()
    //        console.log(data)
    //        if (data.error) {
    //            alert("tu mama es muy linda"); /*displays error message*/
    //        } else {
    //            window.open(
    //                "/"
    //            );
    //        }
            
    //    }
    //    catch (error) {
    //        alert(error)
    //    }

    //}
</script>