<link rel="stylesheet" href="../css/Login.css">
<script src="../js/app.min.js"></script>

<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Iniciar Sesion</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrate</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Usuario</label>
                    <input id="usuario" name="usuario" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Contraseña</label>
                    <input id="contrasena" name="contrasena" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span>Mantener sesion iniciada</label>
                </div>
                <div class="group"> <!--Poner onlick para ejecutar-->
                    <input type="submit" class="button" value="Conectarme" onclick="login()"/>
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="#forgot">Olvidaste la contraseña</a>
                </div>
            </div>
            <div class="sign-up-htm">
                <div class="group">
                    <label for="user" class="label">Usuario</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Contraseña</label>
                    <input id="pass" type="password" class="input" data-type="password"/>
                </div>
                <div class="group">
                    <label for="pass" class="label">Repetir Contraseña</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="pass" class="label">Correo</label>
                    <input id="pass" type="text" class="input">
                </div>
                <div class="group"> <!--Poner onlick para ejecutar-->
                    <input type="submit" class="button" value="Registrarme">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">Ya eres miembro?</label>
                </div>
            </div>
        </div>
    </div>
</div>